doctype html
html(lang="en")
    head
        title= 'Task Manager'
        script(src='/public/assets/vendor.js')
        script(src='/public/assets/bootstrap.js')
    body
        h1='Hello dude!!'
        div(id='root')
        script(src='init.js')